@model ProductViewModel

@{
    ViewData["title"] = "Products";
}

<div class="container mt-5">
    @foreach (var product in Model.Products)
    {
        <div class="card mb-3">
            <div class="card-body">
                <div class="d-flex justify-content-start align-items-center">
                    @if (string.IsNullOrEmpty(product.ImageUrl))
                    {
                        <img src="~/images/placeholders/placeholder.png" alt="Placeholder Image" height="150" width="150" />
                    }
                    else
                    {
                        <img src="~/images/products/@product.ImageUrl" alt="@product.Name" height="150" width="150" />
                    }
                    <div class="ms-2">
                        <div class="small">@product.ArticleNumber</div>
                        <div>@product.Name</div>
                        <div>@(product.Price.HasValue ? product.Price.Value.ToString("0.00") + " $" : "N/A")</div>
                        <div class="mt-4">
                            <div class="d-flex align-items-center">
                                <a href="/products/@product.ArticleNumber" class="btn btn-primary me-2">Details</a>
                                <button class="btn btn-success">Add to Cart</button>
                                @if (User.IsInRole("admin"))
                                {
                                    <form class="ms-2" method="post" asp-action="DeleteProduct" onsubmit="return confirm('Are you sure you want to delete this product?')">
                                        <input type="hidden" name="articleNumber" value="@product.ArticleNumber" />
                                        <button type="submit" class="btn btn-danger delete-button">Delete Product</button>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>
