<div class="container mt-5">
    @foreach (var author in Model)
    {
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-1">
                        <div class="small">Name:</div>
                        <div class="small">Email:</div>
                        <div class="small">Company:</div>
                        <div class="small">Phone:</div>
                        <div class="small">Comment:</div>
                        <div class="small">Date:</div>
                    </div>
                    <div class="col-sm-9">
                        <div class="small">@author.Name</div>
                        <div class="small">@author.Email</div>
                        <div class="small">
                            @(string.IsNullOrWhiteSpace(author.CompanyName) ? "N/A" : author.CompanyName)
                        </div>
                        <div class="small">
                            @(string.IsNullOrWhiteSpace(author.PhoneNumber) ? "N/A" : author.PhoneNumber)
                        </div>
                        <div class="small">@author.CommentText</div>
                        <div class="small">@author.DateTime.ToShortDateString()</div>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-primary mb-4" href="mailto:@author.Email" target="_blank">Reply</a>
                        <form asp-action="DeleteComment" asp-route-id="@author.Id" method="post" onsubmit="return confirm('Are you sure you want to delete this comment?')">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>                        
                    </div>
                </div>
            </div>
        </div>
    }
</div>
